$gradientViolet: linear-gradient(90deg, #5B6CE2 0%, rgba(91, 108, 226, 0.66) 100%);
$colorWhite: #FFFFFF;
$color-coral: #FE5C52;
$color-coral-active: #fe463c;
$color-violet: #5661DF;
$color-violet-active: #4452e6;
$colorGray: #ACB3B7;
$color-gray-light: #F5F5F5;
$color-gray-light-transparent: rgba(245, 245, 245, 0.35);;